---
import BaseLayout from "../layouts/BaseLayout.astro";



const pageTitle = "DB Check";
---

<html lang="en">
    <body>
        <BaseLayout pageTitle={pageTitle}>
            <h2>Check your connetion:</h2>

            <p>
                Here's the results...
            </p>

           
        </BaseLayout>
    </body>
</html>
