---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Manage Sites";
---

<html lang="en">
    <body>
        <BaseLayout pageTitle={pageTitle}>
            <h2>Show me the sites:</h2>
            <p>...</p>
        </BaseLayout>
    </body>
</html>
